apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{ _app }}
    version: {{version}}
  name: {{ _app }}-{{ meta.name }}
  namespace: {{meta.namespace}}
spec:
  ports:
  - name: http
    port: {{ _port }}
    targetPort: {{ _port }}
    protocol: TCP
  selector:
    app: {{ _app }}
    version: {{version}}
  sessionAffinity: None
  type: ClusterIP
