apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: {{ _app }}
    version: {{version}}
  name: {{ _app }}-{{ meta.name }}
  namespace: {{ meta.namespace }}
spec:
  replicas: {{ size }}
  selector:
    matchLabels:
      app: {{ _app }}
      version: {{ version }}
  template:
    metadata:
      annotations:
        sidecar.istio.io/inject: "{{ istio_sidecar_inject | default("False") }}"
      labels:
        app: {{ _app }}
        version: {{ version }}
    spec:
      containers:
      - name: {{ _app }}
        image: {{ image }}
        imagePullPolicy: {{ image_pull_policy | default("Always") }}
        ports:
        - containerPort: {{ _port }}
          name: web
          protocol: TCP
